.btn {
        background-color: #ffffff;
        font-weight: 500;
        font-size: 16px;
        border-color:  $main-color;
        color:  $main-color;
        border-radius: 50px;
        border: solid 1px;
        padding: 13px 45px;
        margin-left: 20px;
}

button:focus{
    outline: none;
}
.btn:hover{
    background-color: $main-color;
    color: #ffffff;
    box-shadow: -1px 0px 27px 2px rgba(245, 56, 85, 0.5);
    outline: none;
}